<app-nav-bar></app-nav-bar>
<div class="row justify-content-center" *ngIf="loaded">
  <div class="col-4">
    <div class="container-fluid container-bg fill">
      <div class="card p-3 shadow-sm p-2 rounded">
        <h1>Change Password</h1>
        <hr>
        <!-- <img class="card-img-top img-fluid" src="../../assets/logo_transparent_login-white.png" alt="Card image cap"> -->
        <div class="card-body">
          <form id="passwordReset" #passwordResetForm="ngForm" name="passwordReset" novalidate>

              <div class="form-group">
                  <label for="newPass"> Old Password: </label>
                  <input type="password" id="oldPass" name="oldPass" class="form-control"[(ngModel)] = "oldPass" required #oldPassword="ngModel">
                </div>

            <div class="form-group">
              <label for="newPass"> New Password: </label>
              <input type="password" id="newPass" name="newPass" class="form-control"[(ngModel)] = "newPass" required #password="ngModel">
            </div>


            <!-- <div class = "alert alert-danger" role="alert" *ngIf="password.invalid && (password.dirty||password.touched)">
                New Password is Required!!!
            </div> -->

            <div class="form-group">
              <label for="newPass2"> Confirm Password: </label>
              <input type="password" id="newPass2" name="newPass2" class="form-control" [(ngModel)] = "newPass2" required #password2="ngModel" >
            </div>

            <div class = "alert alert-danger" role="alert" *ngIf="passwordNotMatch">
                New passwords Don't Match
            </div>
            <div class = "alert alert-danger" role="alert" *ngIf="samePass">
                Old and New Passwords Cannot Be The Same
            </div>
            <button type="submit" class="btn-success btn" (click)=submitPR() [disabled]="passwordResetForm.invalid">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="col-4">
    <div class="container-fluid container-bg fill">

        <div class="card p-3 shadow-sm p-2 rounded">
            <h1>Update Income</h1>
            <h3 *ngIf=income>Current Monthly Income: {{this.income | currency }}</h3>
            <div class="alert alert-success" *ngIf=!income role="alert">
                You don't have a Income yet, enter one below.
              </div>
            <hr>
            <!-- <img class="card-img-top img-fluid" src="../../assets/logo_transparent_login-white.png" alt="Card image cap"> -->
            <div class="card-body">
                <form id="incomeUpdate" #incomeUpdateForm="ngForm" name="incomeUpdate" novalidate>
                  <div class="form-group">
                    <label for="newIncome"> New Monthly Income: </label>
                    <input type="text" id="newIncome" name="newIncome" class="form-control" [(ngModel)] = "newIncome" required pattern="[0-9]+" #Income="ngModel" >
                    <div class = "alert alert-danger mt-3" role="alert" *ngIf="incomeUpdateForm.invalid && Income?.errors.pattern && Income.touched">
                        Income must be a valid number
                    </div>
                  </div>
                  <button type="submit" class="btn-success btn" (click)=submitI() [disabled]="incomeUpdateForm.invalid">Submit</button>
                </form>
            </div>
          </div>

    </div>
    <br>
    <div class="container-fluid container-bg fill">

        <div class="card p-3 shadow-sm p-2 rounded">
          <h1>Update Balance</h1>
          <h3 *ngIf=balance>Current Balance: {{this.balance | currency }}</h3>
          <div class="alert alert-success" *ngIf=!balance role="alert">
              You don't have a balance yet, enter one below.
            </div>
          <hr>
          <!-- <img class="card-img-top img-fluid" src="../../assets/logo_transparent_login-white.png" alt="Card image cap"> -->
          <div class="card-body">
              <form id="balanceUpdate" #balanceUpdateForm="ngForm" name="balanceUpdate" novalidate>
                <div class="form-group">
                  <label for="newBalance"> New Balance: </label>
                  <input type="text" id="newBalance" name="newBalance" class="form-control" [(ngModel)] = "newBalance" required pattern="[0-9]+" #Balance="ngModel" >
                  <div class = "alert alert-danger mt-3" role="alert" *ngIf="balanceUpdateForm.invalid && Balance?.errors.pattern && Balance.touched">
                      Balance must be a valid number
                  </div>
                </div>
                <button type="submit" class="btn-success btn" (click)=submitB() [disabled]="balanceUpdateForm.invalid">Submit</button>
              </form>
          </div>
        </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
