<div class="container-fluid container-bg fill">
  <div class="row justify-content-center">
    <div class="card col-4 p-3 shadow-lg p-2 rounded">
      <img class="card-img-top img-fluid" src="../../assets/logo_transparent_login-white.png" alt="Card image cap">
      <div class="card-body">
        <form id = "entry" #registration = "ngForm" *ngIf= "account" >

          <div class = "form-group">
              <label for = "username">Username: </label>
              <input type="text" class="form-control" name="username"
              id="username"
              class="form-control"
              [ngModel]="account.userName"
              (ngModelChange)="account.userName = $event"
              #username="ngModel"
              required
              pattern="[A-z ]+" placeholder="Username">
              <div *ngIf="username.invalid && username?.errors.required && username.touched" class="text-danger">
                  Username is required
                </div>
                <div *ngIf="username.invalid && username?.errors.pattern && username.touched" class="text-danger">
                    Username must contain valid letters
                  </div>
          <!-- <label for = "username"> Username: </label> -->
          <!-- <input type = "text" id = "username" name = "username"  class = "form-control" [(ngModel)] = "account.userName"> -->
          </div>

          <div class = "form-group">
              <label for = "Password"> Password: </label>
              <input type="text" class="form-control" name="Password"
              id="Password"
              class="form-control"
              [(ngModel)]="password"
              (ngModelChange)="password = $event"
              #Password="ngModel"
              required
              pattern=".+" placeholder="Password">
              <div *ngIf="Password.invalid && Password?.errors.required && Password.touched" class="text-danger">
                  Password is required
                </div>
                <!-- <div *ngIf="(Password.invalid && Password?.errors.pattern && Password.touched) && (password == password2)" class="text-danger">
                    Passwords must match
                  </div> -->
          <!-- <label for = "password"> Password: </label>
          <input type = "password" id = "password" name = "password"  class = "form-control" [(ngModel)] = "password"> -->
          </div>

          <div class = "form-group">
              <label for = "Password2"> Confirm Password: </label>
              <input type="text" class="form-control" name="Password2"
              id="Password2"
              class="form-control"
              [(ngModel)]="password2"
              (ngModelChange)="password2 = $event"
              #Password2="ngModel"
              required
              pattern=".+" placeholder="Password">
              <div *ngIf="Password2.invalid && Password2?.errors.required && Password2.touched" class="text-danger">
                  Confirm Password is required
                </div>
                <div *ngIf="(Password2.touched) && (password != password2)" class="text-danger">
                    Passwords must match
                  </div>
          </div>

          <div class = "form-group">

              <label for = "firstName"> First Name: </label>
              <input type="text" class="form-control" name="firstName"
              id="firstName"
              class="form-control"
              [ngModel]="account.firstName"
              (ngModelChange)="account.firstName = $event"
              #firstName="ngModel"
              required
              pattern="[A-z ]+" placeholder="First Name">
              <div *ngIf="firstName.invalid && firstName?.errors.required && firstName.touched" class="text-danger">
                  First name is required
                </div>
                <div *ngIf="firstName.invalid && firstName?.errors.pattern && firstName.touched" class="text-danger">
                    First name must contain valid letters
                  </div>

          <!-- <label for = "firstname"> First Name: </label>
          <input type = "text" id = "firstname" name = "firstname"  class = "form-control" [(ngModel)] = "account.firstName"> -->
          </div>
          <!-- <p>{{account.firstName}}</p> -->

          <div class = "form-group">
              <label for = "lastName"> Last Name: </label>
              <input type="text" class="form-control" name="lastName"
              id="lastName"
              class="form-control"
              [ngModel]="account.lastName"
              (ngModelChange)="account.lastName = $event"
              #lastName="ngModel"
              required
              pattern="[A-z ]+" placeholder="Last Name">
              <div *ngIf="lastName.invalid && lastName?.errors.required && lastName.touched" class="text-danger">
                  Last name is required
                </div>
                <div *ngIf="lastName.invalid && lastName?.errors.pattern && lastName.touched" class="text-danger">
                    Last name must contain valid letters
                  </div>

          <!-- <label for = "lastname"> Last Name: </label>
          <input type = "text" id = "lastname" name = "lastname"  class = "form-control" [(ngModel)] = "account.lastName"> -->
          </div>
          <!-- <p>{{account.lastName}}</p> -->

          <div class = "form-group">
          <!-- <label for = "email"> Email: </label>
          <input type = "email" id = "email" name = "email"  class = "form-control" [(ngModel)] = "account.email"> -->
          <label for = "email"> Email: </label>
              <input type="text" class="form-control" name="email"
              id="email"
              class="form-control"
              [ngModel]="account.email"
              (ngModelChange)="account.email = $event"
              #email="ngModel"
              required
              pattern="^[A-z ]+@[A-z]+.com$" placeholder="Email">
              <div *ngIf="email.invalid && email?.errors.required && email.touched" class="text-danger">
                  Email is required
                </div>
                <div *ngIf="email.invalid && email?.errors.pattern && email.touched" class="text-danger">
                    Must be a valid email
                  </div>
          </div>

          <div class = "form-group">
              <label for = "income"> Income: </label>
              <input type="text" class="form-control" name="income"
              id="income"
              class="form-control"
              [ngModel]="account.income"
              (ngModelChange)="account.income = $event"
              #income="ngModel"
              required
              pattern="[1-9][0-9]*|[0]" placeholder="Income">
              <div *ngIf="income.invalid && income?.errors.required && income.touched" class="text-danger">
                  Income is required
                </div>
                <div *ngIf="income.invalid && income?.errors.pattern && income.touched" class="text-danger">
                    Must be a valid income
                  </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type = "submit" class = "btn btn-success submit-btn" [disabled]="registration.invalid" (click) = "subReg()"> Submit </button>
          </div>
          <p class="mt-4 text-center">
            Already have an Account? <a routerLink="/login">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
