<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>
    Your Loans
  </h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Loan</th>
            <th scope="col">Amount</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans">
            <td>
              {{loan.loan}}
            </td>
            <td>
                {{loan.amount}}
              </td>
              <td>
                  {{loan.due_date}}
                </td>
          </tr>
        </tbody>
      </table>

</div>

