<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Loan</th>
      <th scope="col">Amount</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Student</td>
      <td>$70,000,000</td>
      <td>Today</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Credit</td>
      <td>$1000</td>
      <td>Yesterday</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Plug Dues</td>
      <td>$420</td>
      <td>Friday Night</td>
    </tr>
  </tbody>
</table>
