<app-nav-bar></app-nav-bar>
<div class="container mb-4" *ngIf="loans">
  <h1 class="mt-2">
    {{userName}}
  </h1>
    <div class="alert alert-secondary" role="alert" *ngIf="loans.length == 0">
       You don't have any loans. Click "Add a Loan" to get started.
    </div>
  <ul *ngIf="loans.length > 0">
      <h2>Loans</h2>
      <hr>
      <!-- data-target="#collapseExample"  -->
      <div class="row">
        <div class="col-md-4 text-center" id="loanCat">
          <strong>Loan</strong>
        </div>
        <div class="col-md-4 text-center">
          <strong>payment date</strong>
          </div>
          <div class="col-md-4 text-center">
            <strong>paid</strong>
            </div>
        </div>
        <hr>
    <li *ngFor="let loan of loans; let i = index" class="mt-1">
      <div class="row collapsible" data-toggle="collapse" [attr.data-target]="'#' + 'Id' + i ">
        <div class="col-md-4 text-center">
            {{loan.loanName}}
        </div>
        <div class="col-md-4  text-center">
          {{loan.paymentDay}}
          </div>
          <div class="col-md-4 text-center">
              <div *ngIf="loan.paid == 1" class="text-center" style="padding-left: 48.5%;">
                  <div class="bg-success text-white" style="border-radius: 10%;width:30px">
                    &#x2713;
                  </div>
                </div>
            </div>
      </div>

      <div class="collapse"  [attr.id]= "'Id'+i">
        <div class="card card-body mt-4 mb-4 mr-4">
          <div class="row">
            <div class="col-md-4">
                <h4>Loan Description</h4>
                <p class="ml-2">{{loan.loanDescription}}</p>
                <h4>Loan Amount</h4>
                <p class="ml-2">{{loan.loanAmount | currency}}</p>
                <h4>Interest</h4>
                <p class="ml-2">{{loan.interest}}%</p>
            </div>
            <div class="col-md-4">
              <h4>Loan Payment</h4>
                <p class="ml-2">{{loan.loanPayment | currency}}</p>
                <h4>Amount Paid Into Loan</h4>
                <p class="ml-2">{{loan.loanPaidAmt | currency}}</p>
                <h4>Remaining Loan Balance</h4>
                <p class="ml-2">{{loan.loanBalance | currency}}</p>
            </div>
            <div class="col-md-4">
                <h4>Payment</h4>
                <form *ngIf="loan.paid==1 "class="d-inline" novalidate
                #loanPaymentMoreForm="ngForm"
                name="loanPaymentMoreForm">
                    <p class="d-inline">Monthly Payment Made &nbsp;</p>
                    <div class="bg-success text-center text-white d-inline pr-1" style="border-radius: 10%; width: 25%; height: 50%">
                        &#x2713;
                      </div>
                      <div class="clearfix"></div>
                      <div class="form-group">
                          <label for="payLoan">Input Amount or Pay Minimum</label>
                          <input type="text" class="form-control" name="loanPaymentMoreInput" id="loanPaymentMoreInput"
                          [ngModel]="payLoan"
                          (ngModelChange)="payLoan = $event"
                          #loanPaymentMoreInput="ngModel"
                          pattern="^[1-9][0-9]*$"
                          required>
                          <div *ngIf="loanPaymentMoreForm.invalid && payLoanInput?.errors.pattern && payLoanInput.touched" class="text-danger">
                              Must pay a positive, non-zero amount
                            </div>
                          <button class="btn btn-success m-2" [disabled]="loanPaymentMoreForm.invalid" (click)=payCustom(loan)>Pay</button>
                          <div class="clearfix"></div>
                        </div>
                  </form>
                  <form novalidate
                  #loanPaymentForm="ngForm"
                  name="loanPaymentForm" *ngIf="loan.paid == 0">
                    <div class="form-group">
                      <label for="payLoan">Input Amount or Pay Minimum</label>
                      <input type="text" class="form-control" name="payLoanInput" id="payLoanInput"
                      [ngModel]="payLoan"
                      (ngModelChange)="payLoan = $event"
                      #payLoanInput="ngModel"
                      pattern="^[1-9][0-9]*$"
                      required>
                      <div *ngIf="loanPaymentForm.invalid && payLoanInput?.errors.pattern && payLoanInput.touched" class="text-danger">
                          Must pay a positive, non-zero amount
                        </div>
                      <button class="btn btn-success m-2" [disabled]="loanPaymentForm.invalid" (click)=payCustom(loan)>Pay</button>
                      <button class="btn btn-success m-2" (click)=minPayment(loan)>Pay Minimum</button>
                      <div class="clearfix"></div>
                    </div>
                  </form>
            </div>
          </div>

        </div>
      </div>
    </li>
  </ul>


  <button type="button" class="6 btn-success text-white mb-4" data-toggle="modal" data-target="#addLoan">Add a Loan</button>

  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="addLoan" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <form class="modal-content"
              novalidate
              #loanForm="ngForm"
              name="loanForm">
          <div class="modal-header">
            <h4 class="modal-title">Add a Loan</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="loanName">Loan Name:</label>
              <input type="text" class="form-control" name="loanName"
                  id="loanName"
                  class="form-control"
                  [ngModel]="newLoan.loanName"
                  (ngModelChange)="newLoan.loanName = $event"
                  #loanName="ngModel"
                  required
                  pattern="[A-z ]+">
                  <div *ngIf="loanName.invalid && loanName?.errors.required && loanName.touched" class="text-danger">
                    Name is required
                  </div>
                  <div *ngIf="loanName.invalid && loanName?.errors.pattern && loanName.touched" class="text-danger">
                      Name must contain valid letters
                    </div>
            </div>
            <div class="form-group">
                <label for="loanDescription">Loan Description:</label>
                <input type="text" class="form-control" name="loanDescription"
                id="loanDescription"
                class="form-control"
                [ngModel]="newLoan.loanDescription"
                (ngModelChange)="newLoan.loanDescription = $event"
                #loanDescription="ngModel"
                required
                pattern="[A-z ]+">
                <div *ngIf="loanDescription.invalid && loanDescription?.errors.required && loanDescription.touched" class="text-danger">
                    Description is required
                  </div>
                  <div *ngIf="loanDescription.invalid && loanDescription?.errors.pattern && loanDescription.touched" class="text-danger">
                      Description must contain valid letters
                    </div>
              </div>
            <div class="form-group">
              <label for="loanAmount">Total Amount:</label>
              <input type="text" class="form-control" name="loanAmount" id="loanAmount"
              class="form-control"
              [ngModel]="newLoan.loanAmount"
              (ngModelChange)="newLoan.loanAmount = $event"
              #loanAmount="ngModel"
              required
              pattern="[0-9.]+">
              <div *ngIf="loanAmount.invalid && loanAmount?.errors.required && loanAmount.touched" class="text-danger">
                  Loan Amount is required
                </div>
                <div *ngIf="loanAmount.invalid && loanAmount?.errors.pattern && loanAmount.touched" class="text-danger">
                    Description must contain valid numbers
                  </div>
            </div>
            <div class="form-group">
              <label for="interest">Interest</label>
              <input type="text" class="form-control" name="loanInterest" id="loanInterest"
              [ngModel]="newLoan.interest"
              (ngModelChange)="newLoan.interest = $event"
              #loanInterest="ngModel"
              required
              pattern="^[0]\.[0-9]{2}$|^[1]\.[0]{2}$|^[1]$">
              <div *ngIf="loanInterest.invalid && loanInterest?.errors.required && loanInterest.touched" class="text-danger">
                  Loan Interest is required
                </div>
                <div *ngIf="loanInterest.invalid && loanInterest?.errors.pattern && loanInterest.touched" class="text-danger">
                    Interest must me valid (ex. 0.05)
                  </div>
            </div>
            <div class="form-group">
              <label for="paymentDate">Payment Due Date</label>
              <select type="text" class="form-control" name="paymentDate" id="paymentDate"
              class="form-control"
              [(ngModel)]="newLoan.paymentDay"
              (ngModelChange)="newLoan.paymentDay = $event"
              #paymentDate="ngModel"
              required
              pattern="[0-9.]+">
                <option *ngFor="let day of ['',1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]">
                  {{day}}
                </option>
              </select>
              <div *ngIf="paymentDate.invalid && paymentDate?.errors.required && paymentDate.touched" class="text-danger">
                  Payment Date is required
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" [disabled]="loanForm.invalid" class="btn btn-success" data-dismiss="modal" style="float: left" (click)="addLoan()">Add</button>
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
            <div class="clearfix"></div>
          </div>
        </form>

      </div>
    </div>

  </div>

</div>
