<div class="container-fluid container-bg fill">
  <div class="row justify-content-center">
    <div class="card col-4 p-3 shadow-lg p-2 rounded">
      <img class="card-img-top img-fluid" src="../../assets/logo_transparent_login-white.png" alt="Card image cap">
      <div class="card-body">
        <br>
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username" [(ngModel)]="userName">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="pWord">
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" (click)="login()" class="btn btn-success login-btn">Login</button>
          </div>
          <p class="mt-4 text-center">
            Don't have an account register<a routerLink="/register"> here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
