<html>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <h1>Mike Hunt's Budget</h1>
    <div class="float-right">

      <div class="container">
          <button type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#ed">Edit Budget</button>
          <div class="container">

            <div class="modal fade" id="ed" role="dialog">
              <div class="modal-dialog">

                <div class = "modal-content">

                  <div class="modal-header">
                    <h1 class="modal-title">Budget Editor</h1>
                  </div>

                  <div class="modal-body">
                    <div class = "lead">
                      Monthly Income: {{monthly_inc}}
                    </div>
                    <div class="form-group">
                      <label for="Food">
                        Food
                      </label>
                      <input type="text"
                            id="Food"
                            class="form-control"
                            [ngModel]="newBudget.food"
                            (ngModelChange)="newBudget.food = $event" />
                    </div>
                    <div class="form-group">
                      <label for="Savings">
                        Savings
                      </label>
                      <input type="text"
                            id="Savings"
                            class="form-control"
                            [ngModel]="newBudget.savings"
                            (ngModelChange)="newBudget.savings = $event" />
                    </div>
                    <div class="form-group">
                      <label for="misc">
                        Misc.
                      </label>
                      <input type="text"
                            id="misc"
                            class="form-control"
                            [ngModel]="newBudget.misc"
                            (ngModelChange)="newBudget.misc = $event" />
                    </div>
                    <div class="form-group">
                      <label for="house">
                        House
                      </label>
                      <input type="text"
                            id="house"
                            class="form-control"
                            [ngModel]="newBudget.house"
                            (ngModelChange)="newBudget.house = $event" />
                    </div>
                    <div class="form-group">
                      <label for="car">
                        Car
                      </label>
                      <input type="text"
                            id="car"
                            class="form-control"
                            [ngModel]="newBudget.car"
                            (ngModelChange)="newBudget.car = $event" />
                    </div>
                    <div class="form-group">
                      <label for="fun">
                        Fun
                      </label>
                      <input type="text"
                            id="fun"
                            class="form-control"
                            [ngModel]="newBudget.fun"
                            (ngModelChange)="newBudget.fun = $event" />
                    </div>
                    <div class="form-group">
                      <label for="util">
                        Util
                      </label>
                      <input type="text"
                            id="util"
                            class="form-control"
                            [ngModel]="newBudget.util"
                            (ngModelChange)="newBudget.util = $event" />
                    </div>
                    <br />
                    <br />
                  </div>
                  <br />
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="float: left" (click)= "save()">Save</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
                    <div class="clearfix"></div>
                    </div>
                </div>
              </div>

            </div>


          </div>

          <pre>{{newBudget | json}}</pre>
          <pre>{{budg | json}}</pre>
          <pre>{{currentUser.income}}</pre>

        </div>

    </div>
    <div class="clearfix"></div>
    <br>
    <div class="row shadow-sm align-items-center border rounded">

        <div class = "col-md-auto" id="chartContainer" style="height: 50vh; width: 100%;"></div>

    </div>

    <br>
    <div class = "row">
        <div class = "col">
          <h2>Expense History</h2>
          <table class = "table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of budget_labels; let i=index">
                <td>{{row}}</td>
                <td>{{spend_vals[i] | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</html>
