<app-nav-bar></app-nav-bar>

<body>
  <div class="container" style="background-color: white">
    <h1>
      {{name}}
    </h1>
    <div class="row">
      <div class="col-md-6" >
        <div class="card shadow-sm mb-4" (click)="toLoans()">
          <div class="card-body">
            <h2>Current Balance:</h2>
            <h3>{{this.balance}}</h3>
            <hr>
            <h2>
              Upcoming Loan Payments:
            </h2>
            <table class="table table-bordered m-1">
              <thead>
                <th>
                  Loans
                </th>
                <th>
                  Cost
                </th>
                <th>
                  Date
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let loan of loans">
                  <td>
                    {{loan.loanName}}
                  </td>
                  <td>
                    {{loan.loanAmount}}
                  </td>
                  <td>
                    {{loan.paymentDay}}
                  </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="container">
          <div class="card shadow-sm p-3">
            <h2>Monthly Expenses</h2>
            <app-chart></app-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-4 mt-4">
      <div class="card shadow-sm">
          <div class="card-body" *ngIf=suggestionsOne>
            <h2>Spending Suggestions:</h2>
            <hr>
            <div class="row">
              <div class="col-md-6">
                  <h3>
                      {{suggestionsOne[0].suggType}}
                    </h3>
                  <ul>
                      <li *ngFor="let suggestion of suggestionsOne">
                        {{suggestion.sugg}}
                      </li>
                    </ul>
              </div>
              <div class="col-md-6">
                  <h3>
                      {{suggestionsTwo[0].suggType}}
                    </h3>
                    <ul>
                      <li *ngFor="let suggestion of suggestionsTwo">
                        {{suggestion.sugg}}
                      </li>
                    </ul>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
