<div class="container-flex page text-white">
  <nav class="navbar navbar-expand-lg pl-5 pr-5 pt-3">
    <div class="collapse navbar-collapse" id="navbarText">
      <img src="../../../assets/logo_transparent.png">
      <button type="button" class="btn btn-success login-btn ml-auto" data-toggle="modal" data-target="#exampleModal">Enter</button>
    </div>
  </nav>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h1>Would you like to login or register?</h1>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-between pr-3 pl-3">
            <div class="">
              <button type="button" class="btn btn-primary login-btn" onclick="window.location.href='/login'">Login</button>
            </div>
            <div class="">
              <button type="button" class="btn btn-primary login-btn" onclick="window.location.href='/register'">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex pt-5 text-center">
    <h1>Sesame, a new way to finance!</h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="container text-center pt-5 pb-5">
  <h2>Sesame is your guide to taking hold of your personal finances.</h2>
  <p>Utilize our tools to keep track of expenses and loan. Furthermore, receive recommendations for how to better manage
    your finances.</p>
    <div class="d-flex justify-content-between">
      <div class="border p-3">
        <h4>Expenses Manager</h4>
      </div>
      <div class="border p-3">
        <h4>Loans Manager</h4>
      </div>
      <div class="border p-3">
        <h4>Recommendations</h4>
      </div>
    </div>
</div>
<div class="container-flex mt-img text-center">
  <h1 class="bg-white">Reach new heights!</h1>
</div>
<div class="container d-flex justify-content-center">
  <p>This Web Application was developed for educational purposes only.</p>
</div>
<div class="container d-flex justify-content-center">
  <p>Sesame Finanance CopyRight 2018</p>
</div>
