.page{
background: #00b09b;
}

.login-btn{
  width: 5em;
  font-size: .4em;
}
#mt-img {
  background-image: url("https://images.unsplash.com/photo-1519670345864-d7d68dcd43ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50e2325f9696b2103c9eb637d3c70103&auto=format&fit=crop&w=1790&q=80");
  height: 90vh;
  background-size: cover;
  z-index: 1;
}

#homeTitle {
  text-align: center;
  color: white;
  z-index: 10;
  font-size: 4em;
  position: relative;
  width:100%;
}

.overlay {
  background: black;
  position: absolute;
  opacity: .4;
  width: 100%;
  z-index: 8;
  height: 90vh;
  top:0;
  left:0
}

.borders {
    border: 		#484848;
    border-style:solid;
    border-width: 1px;
    border-radius:1%;
}
